/* Contenitore dell'overlay */
.loaderOverlay {
    position: fixed; /* Occupa l'intera finestra */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.9); /* Grigio trasparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Assicura che l'overlay sia sopra gli altri elementi */
  }
  
  .loaderContainer{
    text-align: center;
    align-items: center;
  }
  
  /* Animazione del caricamento */
  .loader {
    margin: auto;
    border: 8px solid rgba(255, 255, 255, 0.3); /* Bordo trasparente */
    border-top: 8px solid #3498db; /* Blu */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
  }

  /* Animazione rotazione */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Testo sotto l'animazione */
  .loaderText {
    margin-top: 20px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    
  }
  
  .previsioniDelGiorno{
    text-align: center;
    width: 100%;
  }
  .previsioniDelGiorno h2{
    margin: 0px;
  }